<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Files – bytty</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>
	<div class="container" role="main">
		<h1>bytty</h1>
		<nav role="navigation">
			<a href="/">File upload</a>
			<a href="/pastebin">Pastebin</a>
			<a href="/files">Your files</a>
		</nav>

		<form action="/files/<%= id %>/download" method="POST">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<% if (typeof password != 'undefined') { %>
			<input type="hidden" name="password" value="<%= password %>">
			<% } %>
			<button class="button button-lg" type="submit">Download all files</button>
		</form>

		<div class="files">
			<% files.forEach(file => { %>
			<div class="file">
				<p><%= file.originalName %></p>
				<img src="https://via.placeholder.com/150" alt="File preview">
				<form action="/files/<%= id %>/download/<%= file.id %>" method="POST">
					<input type="hidden" name="_csrf" value="<%= csrfToken %>">
					<% if (typeof password != 'undefined') { %>
					<input type="hidden" name="password" value="<%= password %>">
					<% } %>
					<button class="button" type="submit">Download</button>
				</form>
			</div>
			<% }) %>
		</div>
	</div>
</body>
</html>