<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>bytty</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="container" role="main">
		<h1>bytty</h1>
		<nav role="navigation">
			<a href="/">File upload</a>
			<a href="/pastebin">Pastebin</a>
			<a href="/files" class="is-selected">Your files</a>
		</nav>
		
		<h2>Your files</h2>
		<table>
			<tr>
				<th>Link</th>
				<th>Creation date</th>
				<th>Expiration date</th>
			</tr>

			<% if (files.length == 0) { %>
			<tr>
				<td colspan="3"> No files.</td>
			</tr>
			<% } %>
			<% files.forEach(file => { %>
			<tr>
				<td><a href="<%= file.link %>"><%= file.link %></a></td>
				<td><%= file.createdAt.toLocaleString() %></td>
				<td><%= file.expirationDate.toLocaleString() %></td>
			</tr>
			<% }); %>
		</table>

		<h2>Your pastebins</h2>
		<table>
			<tr>
				<th>Link</th>
				<th>Creation date</th>
				<th>Expiration date</th>
			</tr>

			<% if (pastebins.length == 0) { %>
			<tr>
				<td colspan="3"> No pastebins.</td>
			</tr>
			<% } %>
			<% pastebins.forEach(pastebin => { %>
			<tr>
				<td><a href="<%= pastebin.link %>"><%= pastebin.link %></a></td>
				<td><%= pastebin.createdAt.toLocaleString() %></td>
				<td><%= pastebin.expirationDate.toLocaleString() %></td>
			</tr>
			<% }); %>
		</table>

		<footer>
			<p>Only files and pastebins created on this computer appear on this page.<br>Removing your cookies will empty this page.</p>
		</footer>
	</div>
</body>

</html>